html, body
{
 height: 100%;
}

body
{
 display: grid;
}

.container-form 
{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
}

.typeform-widget 
{
 margin-top: 70px;
 width: 100%;
 height: 800px;
}