html, body
{
 height: 100%;
}

body
{
 display: grid;
 grid-template-columns: repeat(1, 1fr);
}

h1.find
{
  font-size: 56px;
  font-weight: 700;
  padding-top: 180px;
}

section.find
{
 padding-top: 30px;  
}

.find ol,
.find ul
{
  display: grid;
  grid-gap: 1rem;
  list-style: none;
  margin-top: 30px;
}

.find ol li
{
  align-items: start;
  display: grid;
  font-size: 1.5rem;
  grid-gap: 1.75em;
  grid-template-columns: 0 1fr;
  line-height: 1.25;
  max-width: 25ch;
}

.find ol li::before
{
  background-color: var(--color4);
  border-radius: 0.25em;
  content: "";
  height: 10px;
  width: 10px;
  padding: 6px;
  margin-top: 10px;
  margin-left: 10px;
}

.find ol li a
{
 color: var(--color12);
 text-decoration: none;
}

.find ol li a:hover
{
 color: var(--color4);
}

footer
{
 display: grid;
 align-content: center;
}

@media only screen and (max-width: 1390px)
{

}

@media only screen and (max-width: 1024px)
{

}

@media only screen and (max-width: 990px)
{

}

@media only screen and (max-width: 800px)
{

}

@media only screen and (max-width: 780px)
{

}

@media screen and (max-width: 640px)
{

}

@media only screen and (max-width: 540px)
{

}

@media only screen and (max-width: 428px)
{

}

@media only screen and (max-width: 395px)
{

}

@media only screen and (max-width: 384px)
{

}

@media only screen and (max-width: 375px)
{

}

@media only screen and (max-width: 320px)
{

}

@media only screen and (max-width: 280px)
{

}

@media only screen and (max-width: 240px)
{

}